<div class="mainPainelAtividades">
  <h3>Atividades</h3>
  <nav>
    <ul>
      <li>
        <div class="icon">
          <img src="../../../assets/IconPerfil.png" alt="fotoPerfil">
        </div>
        <div class="text">
          <div class="user"> <strong>Larissa.Lourdes</strong> </div>
          <div class="info">Abriu o chamado n 93023</div>
          <div class="time"> hoje 14:00 </div>
        </div>
      </li>
        <br>
      <li>
        <div class="icon">
          <img src="../../../assets/IconPerfil.png" alt="fotoPerfil">
        </div>
        <div class="text">
          <div class="user"> <strong>Lourdes.Soares</strong> </div>
          <div class="info">realizou o chamado n 94023</div>
          <div class="time"> hoje 15:00 </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
