<div class="mainPainelChamados">
  <h1>Chamados</h1>

  <div class="periodo">
    <form action="" method="get">
      <label for="">Periodo: </label>
      <input type="date" name="" id="">
      a
      <input type="date" name="" id="">

      <input type="submit" value="filtrar">
    </form>
  </div>

  <div class="abertos">
    <div class="texto">
      <h4>Abertos</h4>
      <output>{{chamados.length}}</output>
    </div>
    <div class="chamados">
      <nav>
        <ul *ngFor="let item of chamados">
         <li (click)="getChamado()"> <img src="../../../assets/iconchamado.png" alt=""> {{item}}</li>
        </ul>
      </nav>
    </div>
  </div>

</div>
