.mainPainelChamados{
 width: 70%;
 border: 1px solid black;
 padding: 1.5rem 3rem;
 position: absolute;
 left: 0;
}

.mainPainelChamados > h1{
 text-align: center;

}

.periodo{
  margin-top: 1rem;
}

.periodo > form > input[type="date"]{
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.periodo > form > input[type="submit"]{
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 8px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.abertos{
  display: flex;
}

chamados > nav {
  cursor: pointer;
}


