.suporte{
  background-color: #BF8D87;
  margin-top: 1rem;
  min-height: 6rem;
  width: 11.68rem;
}

.texto {

  padding-top: 1rem;
  margin: auto;
  text-align: center;
  width: auto;
}

.chamados{
  width: 100%;
}

.chamados > nav > ul {
  display: inline-block;
}

.chamados > nav > ul > li{
  background-color: #CE7A6B;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;

  cursor: pointer;
}
